<form [formGroup]="form" class="w-fit">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label class="lbl">Área Interna</mat-label>
    <input
      type="text"
      matInput
      class="input is-medium"
      autocomplete="off"
      formControlName="rol"
      [matAutocomplete]="autoAreaInterna"
    />
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #autoAreaInterna="matAutocomplete" [displayWith]="displayFnRol">
      <mat-option *ngFor="let option of filteredAreaInterna | async" [value]="option">
        {{ option.nombre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
