<form [formGroup]="form" class="w-fit">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label class="lbl">Área Interna</mat-label>
    <input
      type="text"
      matInput
      class="input is-medium"
      autocomplete="off"
      formControlName="areaInterna"
      [matAutocomplete]="autoAreaInterna"
    />
    <mat-icon *ngIf="!form.controls.areaInterna.value" matSuffix
      >search</mat-icon
    >
    <mat-icon
      class="cursor-pointer hover:font-bold"
      matTooltip="Limpiar selección"
      *ngIf="form.controls.areaInterna.value"
      (click)="form.controls.areaInterna.setValue('')"
      matSuffix
      >close</mat-icon
    >
    <mat-autocomplete
      #autoAreaInterna="matAutocomplete"
      [displayWith]="displayFnAreaInterna"
    >
      <mat-option
        *ngFor="let option of filteredAreasInternas | async"
        [value]="option"
      >
        {{ option.nombre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
