<div class="flex flex-col flex-auto min-w-0 container mx-auto px-8" style="">
  <app-breadcrumb
    [breadcrumbs]="[
      { nombre: 'Consulta de choferes', url: ['choferes'] },
      { nombre: 'Nuevo', url: ['choferes/nuevo'] }
    ]"
  ></app-breadcrumb>
  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between bg-transparent"
  >
    <h3 class="titulo">Nueva chofer</h3>
    <!-- Opciones del Header -->
  </div>
  <div class="flex flex-row justify-center items-start mt-4 gap-2">
    <app-form-chofer
      class="w-5/12"
      [cargando]="cargando"
      [areasInternas]="areasInternas"
      [estadosEntidad]="estadosEntidad"
      (retForm)="setForm($event)"
    ></app-form-chofer>
  </div>
</div>
