<div class="w-full">
  <div class="w-full">
    <mat-progress-bar
      *ngIf="cargando"
      mode="indeterminate"
      class="w-full"
    ></mat-progress-bar>
    <table
      #sort="matSort"
      mat-table
      matSort
      [dataSource]="dataSource"
      class="mat-elevation-z1 m-0 w-full"
    >
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <mostrar-valor [valor]="row.nombre"></mostrar-valor>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <mostrar-valor [valor]="row.apellido"></mostrar-valor>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contacto</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <mostrar-valor [valor]="row.contacto"></mostrar-valor>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="areaInterna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Área interna</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <mostrar-valor [valor]="row.areaInterna?.nombre"></mostrar-valor>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let row">
          <div class="flex flex-col">
            <div *ngIf="!row.estadoEntidad">
              <span class="estado-tooltip estado-activo">ACTIVO</span>
            </div>
            <div *ngIf="row.estadoEntidad">
              <span
                class="estado-tooltip"
                [class.estado-baja]="row.estadoEntidad.nombre === 'Baja'"
                [class.estado-suspendido]="
                  row.estadoEntidad.nombre === 'Suspendido'
                "
                >{{ row.estadoEntidad.nombre | uppercase }}</span
              >
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef>
          <mat-icon>settings</mat-icon>
        </th>
        <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Menu de opciones"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- *ngxPermissionsOnly="['ADMIN', 'EMPLEADO']" -->
            <button mat-menu-item (click)="editar(row)">
              <mat-icon svgIcon="feather:edit"></mat-icon>
              <span> Editar</span>
            </button>
            <!-- *ngxPermissionsOnly="['ADMIN', 'EMPLEADO']" -->
            <button mat-menu-item (click)="eliminar(row)">
              <mat-icon
                class="text-red-700"
                svgIcon="feather:trash-2"
              ></mat-icon>

              <span class="text-red-700"> Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <!-- -->
      <!-- -->
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <!-- -->
      <!-- [class.example-expanded-row]="expandedElement === row"
      (click)="
            expandedElement !== row
              ? (expandedElement = row)
              : (expandedElement = null)
          "-->
      <tr
        mat-row
        *matRowDef="let row; columns: columnas"
        class="fila_seleccionada"
        [ngClass]="{ fila_inactiva: row.fechaBaja }"
      ></tr>
      <!-- -->
      <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="fila_detalle"></tr> -->
    </table>
    <mat-card
      *ngIf="!choferes || choferes.length < 1"
      class="bg-card mat-elevation-z0 p-4 flex flex-row justify-center items-center rounded-none"
    >
      <p>No se encontraron resultados</p>
    </mat-card>

    <!-- Paginado -------------------------------------------------- -->
    <mat-paginator
      class="border-paginador paginator mat-elevation-z1"
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 25, 50, 100, 200]"
    >
    </mat-paginator>
  </div>
</div>
