<div class="flex flex-col flex-auto min-w-0 container mx-auto px-8">
  <app-breadcrumb
    [breadcrumbs]="[
      { nombre: 'Consulta de modelos', url: ['modelos'] },
      { nombre: 'Nuevo', url: ['modelos/editar'] }
    ]"
  ></app-breadcrumb>
  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between bg-transparent"
  >
    <h3 class="titulo">Editar modelo</h3>
    <!-- Opciones del Header -->
  </div>
  <div class="flex flex-row justify-center items-start mt-4 gap-2">
    <app-form-modelo
      class="w-full"
      [cargando]="cargando"
      [modelosTipoDato]="modelosTipoDato"
      (retForm)="setForm($event)"
    ></app-form-modelo>
  </div>
</div>
