<!-- Button -->
<button mat-basic-button [matMenuTriggerFor]="userActions">
  <span class="relative flex flex-row items-center gap-1">
    <!-- <img
      class="w-7 h-7 rounded-full"
      [src]="'assets/images/avatars/male-03.jpg'"
    /> -->
    <mat-icon
      [svgIcon]="'heroicons_outline:user-circle'"
      class="text-white"
    ></mat-icon>
    <small>
      {{ user?.apellido + " " + user?.nombre }}
    </small>
    <!-- <span
      class="absolute right-0 bottom-0 w-2 h-2 rounded-full"
      [ngClass]="{
        'mr-px mb-px': !showAvatar || !user.avatar,
        'bg-green-500': user.status === 'online',
        'bg-amber-500': user.status === 'away',
        'bg-red-500': user.status === 'busy',
        'bg-gray-400': user.status === 'not-visible'
      }"
    ></span> -->
  </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
  <button mat-menu-item>
    <span class="flex flex-col leading-none">
      <span>Conectado como</span>
      <span class="mt-1.5 text-md font-medium">{{ user?.nombreLogin }}</span>
    </span>
  </button>

  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item (click)="redireccionarPerfil()">
    <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    <span>Perfil</span>
  </button>

  <mat-divider class="my-2"></mat-divider>
  <button mat-menu-item (click)="signOut()">
    <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
    <span>Salir</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="flex flex-row justify-center items-center">
    <span>v{{ version }}</span>
  </button>
</mat-menu>
