<!-- Flippable card -->
<ng-container *ngIf="flippable">
    <!-- Front -->
    <div class="synvelt-card-front">
        <ng-content select="[synveltCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="synvelt-card-back">
        <ng-content select="[synveltCardBack]"></ng-content>
    </div>
</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">
    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div class="synvelt-card-expansion" *ngIf="expanded" [@expandCollapse]>
        <ng-content select="[synveltCardExpansion]"></ng-content>
    </div>
</ng-container>
