<form
  [formGroup]="form"
  class="bg-card mat-elevation-z1 flex flex-col w-full"
  (ngSubmit)="filtrar()"
>
  <div class="p-8 grid grid-cols-1 gap-2">
    <!--  nombre field -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Apellido </mat-label>
      <input id="nombre" matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label class="lbl">Área interna</mat-label>
      <input
        type="text"
        matInput
        class="input is-medium"
        autocomplete="off"
        formControlName="areaInterna"
        [matAutocomplete]="autoAreas"
      />
      <mat-icon *ngIf="!form.controls.areaInterna.value" matSuffix
        >search</mat-icon
      >
      <mat-icon
        class="cursor-pointer hover:font-bold"
        matTooltip="Limpiar selección"
        *ngIf="form.controls.areaInterna.value"
        (click)="form.controls.areaInterna.setValue('')"
        matSuffix
      >
        close</mat-icon
      >
      <mat-autocomplete
        #autoAreas="matAutocomplete"
        [displayWith]="displayFnArea"
      >
        <mat-option
          *ngFor="let option of filteredAreas | async"
          [value]="option"
        >
          {{ option.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--  -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label class="lbl">Estado</mat-label>
      <input
        type="text"
        matInput
        class="input is-medium"
        autocomplete="off"
        formControlName="estadoEntidad"
        [matAutocomplete]="autoEstadoEntidad"
      />
      <mat-icon *ngIf="!form.controls.estadoEntidad.value" matSuffix
        >search</mat-icon
      >
      <mat-icon
        class="cursor-pointer hover:font-bold"
        matTooltip="Limpiar selección"
        *ngIf="form.controls.estadoEntidad.value"
        (click)="form.controls.estadoEntidad.setValue('')"
        matSuffix
        >close</mat-icon
      >
      <mat-autocomplete
        #autoEstadoEntidad="matAutocomplete"
        [displayWith]="displayFnEstadoEntidad"
      >
        <mat-option
          *ngFor="let option of filteredEstadoEntidad | async"
          [value]="option"
        >
          {{ option.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="flex flex-row justify-between items-center -mt-3 mb-4 px-6">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="cargando"
      type="button"
      (click)="limpiar()"
    >
      Limpiar
    </button>
    <button
      *ngIf="!cargando"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      type="submit"
    >
      Filtrar
    </button>
    <button *ngIf="cargando" mat-raised-button color="warn" [disabled]="true">
      Cargando...
    </button>
  </div>
</form>
