<div class="w-full bg-card mat-elevation-z1">
  <form [formGroup]="form" class="flex flex-col" (ngSubmit)="guardar()">
    <div
      class="p-8 pb-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"
    >
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input id="nombre" matInput formControlName="nombre" required />
        <mat-error *ngIf="form.controls.nombre.hasError('required')">
          Este campo es requerido.
        </mat-error>
        <mat-error *ngIf="form.controls.nombre.hasError('maxLength')">
          Máximo 30 carácteres.
        </mat-error>
      </mat-form-field>
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Apellido</mat-label>
        <input id="apellido" matInput formControlName="apellido" required />
        <mat-error *ngIf="form.controls.apellido.hasError('required')">
          Este campo es requerido.
        </mat-error>
        <mat-error *ngIf="form.controls.apellido.hasError('maxLength')">
          Máximo 20 carácteres.
        </mat-error>
      </mat-form-field>
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Cuit</mat-label>
        <input
          id="cuil"
          matInput
          formControlName="cuil"
          required
          [mask]="'00-00000000-0'"
        />
        <mat-error *ngIf="form.controls.cuil.hasError('required')">
          Este campo es requerido.
        </mat-error>
        <mat-error *ngIf="form.controls.cuil.hasError('maxLength')">
          Máximo 11 carácteres.
        </mat-error>
      </mat-form-field>
      <!--  field -->
      <!-- <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nro Legajo</mat-label>
          <input
            id="nroLegajo"
            matInput
            formControlName="nroLegajo"
            type="number"
            required
          />
          <mat-error *ngIf="form.controls.nroLegajo.hasError('required')">
            Este campo es requerido.
          </mat-error>
        </mat-form-field> -->

      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input
          id="direccionMail"
          matInput
          formControlName="direccionMail"
          required
          type="email"
        />
        <mat-error *ngIf="form.controls.direccionMail.hasError('email')">
          No es un formato de email correcto
        </mat-error>
        <mat-error *ngIf="form.controls.direccionMail.hasError('maxLength')">
          Máximo 256 carácteres.
        </mat-error>
      </mat-form-field>
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Télefono</mat-label>
        <input
          id="telefono"
          matInput
          formControlName="telefono"
          type="number"
          required
        />
        <mat-error *ngIf="form.controls.telefono.hasError('maxLength')">
          Máximo 12 caracteres
        </mat-error>
      </mat-form-field>
      <!-- Rol -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="lbl">Roles</mat-label>
        <input
          type="text"
          matInput
          class="input is-medium"
          autocomplete="off"
          formControlName="rol"
          [matAutocomplete]="autoRol"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete
          #autoRol="matAutocomplete"
          [displayWith]="displayFnRol"
        >
          <mat-option
            *ngFor="let option of filteredRoles | async"
            [value]="option"
          >
            {{ option.nombre }}
          </mat-option>
        </mat-autocomplete>
        <app-control-messages
          [control]="form.controls?.rol"
        ></app-control-messages>
      </mat-form-field>
      <!-- areaInterna -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="lbl">Área Interna</mat-label>
        <input
          type="text"
          matInput
          class="input is-medium"
          autocomplete="off"
          formControlName="areaInterna"
          [matAutocomplete]="autoAreaInterna"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete
          #autoAreaInterna="matAutocomplete"
          [displayWith]="displayFnAreaInterna"
        >
          <mat-option
            *ngFor="let option of filteredAreasInternas | async"
            [value]="option"
          >
            {{ option.nombre }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls.areaInterna.hasError('noEsObjeto')">
          Seleccione un item de la lista
        </mat-error>
      </mat-form-field>
      <!-- field -->
      <div class="contenedor-slide-toggle">
        <mat-slide-toggle [color]="'primary'" formControlName="esInspector">
          Inspector
        </mat-slide-toggle>
      </div>
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Contraseña</mat-label>
        <input
          id="claveLogin"
          matInput
          formControlName="claveLogin"
          type="string"
          required
        />
      </mat-form-field>
      <!--  field -->
      <mat-form-field appearance="outline" class="w-full text-area">
        <mat-label>Observación</mat-label>
        <textarea
          #observacion
          matInput
          placeholder="Observación"
          formControlName="comentario"
        ></textarea>
        <mat-hint align="end">{{ observacion.value.length }} / 4000</mat-hint>

        <mat-error *ngIf="form.controls.direccionMail.hasError('maxLength')">
          Máximo 4000 carácteres.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-row justify-center items-center min-w-full mt-4 mb-6">
      <div class="flex flex-row justify-between items-start gap-8">
        <button mat-raised-button color="warn" (click)="volver()">
          Cancelar
        </button>
        <button
          *ngIf="!cargando"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          {{ usuario && usuario.id ? "Actualizar" : "Guardar" }}
        </button>
        <button
          *ngIf="cargando"
          mat-raised-button
          color="warn"
          [disabled]="true"
        >
          Cargando...
        </button>
      </div>
    </div>
  </form>
</div>
